<ion-app>
  <ion-router-outlet>
    <!-- tu-componente.component.html -->
    <div *ngFor="let person of people">
      <p>{{ person.name }}</p>
      <!-- Agrega más propiedades según tu necesidad -->
    </div>

    <div *ngFor="let film of films">
      <p>{{ film.title }}</p>
      <!-- Agrega más propiedades según tu necesidad -->
    </div>

    <div *ngFor="let vehicle of vehicles">
      <p>{{ vehicle.name }}</p>
      <!-- Agrega más propiedades según tu necesidad -->
    </div>

    <div *ngFor="let planet of planets">
      <p>{{ planet.name }}</p>
      <!-- Agrega más propiedades según tu necesidad -->
    </div>

  </ion-router-outlet>
</ion-app>